annotated-types==0.7.0
argcomplete==3.6.2
attrs==25.3.0
autocommand==2.2.2
btrfsutil==6.15
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.5
cssselect==1.2.0
dbus-python==1.4.0
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
evdev==1.9.0
filelock==3.18.0
Glances==4.3.3
gps==3.26.1
i3ipc==2.2.1
idna==3.10
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lxml==6.0.0
Mako==1.3.10.dev0
Markdown==3.8.2
MarkupSafe==3.0.2
mercurial==7.0.3
meson==1.8.2
more-itertools==10.7.0
nftables==0.1
nwg-displays==0.3.25
optimus-manager==796
orjson==3.11.1
packaging==25.0
pipx==1.7.1
platformdirs==4.3.6
psutil==7.0.0
pyaml==24.12.0
pycairo==1.28.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyGObject==3.52.3
PyQt6==6.9.1
PyQt6_sip==13.10.2
pyquery==2.0.1
python-xlib==0.33
PyYAML==6.0.2
Reflector==2023.6.28.0.36.1
requests==2.32.4
setuptools==80.9.0
shtab==1.7.2
six==1.17.0
termcolor==2.5.0
tldr==3.4.1
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
userpath==1.9.2
virtualenv==20.28.0
wheel==0.45.1
yt-dlp==2025.7.21
